#Menu, #Redirect {
    text-align: center;
    width:50%;
    border: 2px solid black;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
}

body{
    background-color: aliceblue;
}

#Laps ul {
    list-style-type: none;
  }
